:root {
    --background: #121619ff;
    --accent: #56e39fff;
    --text: #d9dbf1ff;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: Roboto;
}

#menuIcon {
    position: absolute;
    margin: 10px;
    top: 0px;
    right: 0px;
    transition: color .5s ease 0s;
}

#menuIcon:hover {
    color: var(--accent);
}

*[onclick] {
    cursor: pointer;
}

#menu {
    background: var(--accent);
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 1s;
}

#blockTime {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#time {
    font-size: 100px;
    margin: 10px;
}

#block {
    font-size: 24px;
    margin: 5px;
}

.hidden {
    display: none;
}