@import './index.css';

.ClockContainer {
    height: 100vh;
    margin: 0px;

    font-family: 'Jetbrains Mono', monospace;
    font-size: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ClockTime {
    font-size: 4em;
    margin: 0px;
}

.ClockEvent {
    font-size: 1em;
    margin: 0px;
    color: var(--event)
}